body {
	background-color: #FFFFFFF;
}

#header {
	padding: 10px;
	padding-bottom: 25px;
	text-align: center;
}

#header h1 {
  font-family: Arial;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  margin: 0
}
#header h2 {
	font-family: Arial;
  font-weight: lighter;
  font-size: 35px;
  text-align: center;
  margin: 0
}

#nav {
	text-align: center;
}

#resume {
	background-color: #F3D250;
	display: inline-block;
	padding: 20px;
	border: 1px solid black;
}

#projects {
	background-color: #A1B5D8;
	display: inline-block;
	padding: 20px;
	border: 1px solid black;
}

#github {
	background-color: #EF6461;
	display: inline-block;
	padding: 20px;
	border: 1px solid black;
}

#linkedin {
	background-color: #B5446E;
	display: inline-block;
	padding: 20px;
	border: 1px solid black;
}
